# Ignore everything except specific files
*
!.gitignore
!README.md
!gc5150.cpp
!gc5150_AutoClearRecentBidAskVolume.cpp
!gc5150_FVG.cpp
!gc5150_TradingSystemBasedOnAlertConditionLimitOrder.cpp
!gc5150_RSI.cpp